body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #666;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300
}
*, *:focus {
    outline: none !important
}
a {
    color: #2d2d2d
}
a:hover, a:focus {
    color: #0c86b6;
    text-decoration: none;
}
.hiding {
    opacity: 0
}
.showing {
    opacity: 1
}
.img-rounded {
    border-radius: 6px
}
.btn {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
.btn-blue {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #0c86b6;
}
.btn-blue:hover, .btn-blue:focus {
    color: #fff;
    background-color: #2a3940;
}
.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
    background-color: #fff;
}
.fading-line {
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    margin: -20px 0 0 -20px;
    background-image: url(../img/fading-line.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
#navbar-top {
    min-height: 51px
}
.navbar-default {
    border-top: 0;
    margin-bottom: 0;
    border-radius: 0px;
    background-color: #fff;
}
.navbar-default .navbar-brand {
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    color: #0c86b6;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: transparent
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #333
}
.navbar-default.affix {
    top: 0;
    width: 100%;
    z-index: 99;
    border-bottom: 0;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.14);
}
.page {
    overflow-x: hidden
}
.page .content {
    padding: 60px 0
}
.page .content.cover {
    padding: 240px 0
}
.page .heading h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
.page .heading .border {
    width: 80px;
    height: 2px;
    margin: 0 auto;
    background-color: #7fc350;
}
.page .heading p {
    margin: 20px auto 0
}
#home {
    padding: 0;
    color: #fff;
    background-image: url(../img/home-cover.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#home h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 60px;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
#home a {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
#home h3 {
    margin-top: 20px;
    margin-bottom: 0;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
#services {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e7e7e7;
}
#services i {
    margin-top: 60px
}
#work .heading p {
    margin-bottom: 45px
}
#work ul li {
    margin-top: 15px
}
#work h5 {
    margin-bottom: 0
}
#clients {
    color: #fff;
    background-color: #2a3940;
}
#clients #testimonials .item {
    margin-bottom: 30px
}
#clients #testimonials .quote {
    font-size: 16px;
    padding: 0 90px;
}
#clients #testimonials .client {
    color: #ccc
}
#clients #testimonials .carousel-indicators li {
    width: 9px;
    height: 9px;
    border-radius: 2px;
    border-color: #a6a6a6;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
#clients #testimonials .carousel-indicators li:hover, #clients #testimonials .carousel-indicators li:focus {
    border-color: #fff
}
#clients #testimonials .carousel-indicators .active {
    width: 9px;
    height: 9px;
    margin: 1px;
    border-color: #fff;
    background-color: #7fc350;
}
#clients #testimonials .carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
}
#clients #testimonials .carousel-control {
    top: 15%;
    width: 0%;
    display: none;
    font-size: 40px;
    text-shadow: none;
    background-image: none;
}
#about img {
    margin: 60px auto 30px
}
#about h5 {
    margin-bottom: 0
}
#contact {
    background: url(../img/contact-cover.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#contact, #contact a, #contact a:hover, #contact a:focus {
    color: #fff
}
#contact .heading .border {
    background-color: #fff
}
#contact a {
    display: block
}
#contact i {
    margin: 60px 0 15px
}
#footer {
    color: #ccc;
    padding: 40px 0;
    text-align: center;
    background-color: #333;
}
#footer a {
    color: #fff
}
#footer a:hover, #footer a:focus {
    color: #fff
}
#footer .social {
    padding: 0;
    list-style: none;
}
#footer .social li {
    margin: 10px;
    display: inline-block;
}
#footer .social li .facebook:hover, #footer .social li .facebook:focus {
    color: #3b5998
}
#footer .social li .twitter:hover, #footer .social li .twitter:focus {
    color: #4099ff
}
#footer .social li .google-plus:hover, #footer .social li .google-plus:focus {
    color: #d34836
}
#footer .social li .dribbble:hover, #footer .social li .dribbble:focus {
    color: #ea4c89
}
/* responsive */
@media screen and (max-width: 1024px) { 
    #clients #testimonials .carousel-control {
        display: block
    }
}
@media screen and (max-width: 991px) { 
    #clients #testimonials p.quote {
        padding: 0 70px
    }
}
@media (max-width: 767px) { 
    .page .content.cover {
        padding: 160px 0
    }
    #clients #testimonials p.quote {
        padding: 0 50px
    }
    #clients #testimonials .carousel-control.right {
        right: 10px
    }
}
@media (max-width: 480px) { 
    .page .content.cover {
        padding: 80px 0
    }
    #clients #testimonials p.quote {
        padding: 0 30px
    }
}